* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'BonaNova-Italic';
  src: url('../fonts/BonaNova-Italic.woff') format('woff'),
    url('../fonts/BonaNova-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALSHauss-Book';
  src: url('../fonts/ALSHauss-Book.woff') format('woff'),
    url('../fonts/ALSHauss-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALSHauss-Regular';
  src: url('../fonts/ALSHauss-Regular.woff') format('woff'),
    url('../fonts/ALSHauss-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALSHauss-Medium';
  src: url('../fonts/ALSHauss-Medium.woff') format('woff'),
    url('../fonts/ALSHauss-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'ALSHauss-Book', sans-serif;
  background-color: $main-color;
  color: $fonts-main-color;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}