header.header
  .container.header__container 
    nav.navbar
      a.logo(href='#')
        img(src='img/logo.png')
      ul.navbar__menu
        li.navbar__item
        li.navbar__item
        li.navbar__item
