header.header
  .container 
    nav.navbar
      a.logo.navbar__logo(href='#')
        img(src='img/logo.png' alt='Логотип компании')
      ul.navbar__menu
        li.navbar__item
          a.link.navbar__link(href='#') Курсы
        li.navbar__item
          a.link.navbar__link(href='#') Наймите выпускника
        li.navbar__item
          a.link.navbar__link(href='#') Личный кабинет
    .header__main
      h1.title.header__title школа
        br 
        | диджитал&nbsp;навыков
        br 
        | от&nbsp;
        span практикующих
        br
        | профессионалов
      .header__video.video
        .video__image
          img(src="img/video.png", alt="Картинка-заглушка для видео") 
        a.link.video__link(href="#")
          img(src="img/icons/play-icon.svg", alt="Иконка: кнопка вопроизведения")
          |   О школе 
          span за 72 секунды
