.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;

  &__logo {
    img {
      width: 65px;
      height: 64px;
    }
  }

  &__menu {
    display: flex;
  }

  &__item {
    margin-left: 110px;
  }

  &__link {
    font-size: 24px;
    font-weight: 350;
    letter-spacing: -1.25573px;
  }
}

.header {
  margin-top: 60px;
  margin-bottom: 100px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-right: 30px;
    font-family: 'ALSHauss-Regular', sans-serif;
    font-weight: normal;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -1.25573px;

    span {
      font-family: 'BonaNova-Italic', serif;
    }
  }
}

.video {
  text-align: center;

  &__image {
    width: 400px;
    margin: 0 auto 20px;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-size: 32px;
    color: #FEA430;

    img {
      display: none;
    }

    span {
      font-family: 'ALSHauss-Medium', sans-serif;
      font-weight: 500;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #FEA430;
      transform: scaleX(0);
      transition: transform 0.2s;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}