extends common/layout

block content
  main.main
    section.description
      .container 
        include includes/index/description
    section.about
      .container 
        include includes/index/about
        
      
